/DKKDApp/obj
/DKKDApp/.vs/DKKDApp/FileContentIndex/68ffc92b-7997-4d03-a912-faa3dd75feac.vsidx
/DKKDApp/.vs/DKKDApp/FileContentIndex/a84d3506-2bd6-4119-b35f-1943e7a20cb3.vsidx
/DKKDApp/.vs/DKKDApp/FileContentIndex/c8daada9-b0c4-4d31-a68a-e51abdb40b3e.vsidx
/DKKDApp/.vs/DKKDApp/FileContentIndex/*.vsidx
/DKKDApp/.vs/DKKDApp/DesignTimeBuild/.dtbcache.v2
/DKKDApp/.vs/DKKDApp/v17/.suo
/DKKDApp/.vs/DKKDApp/v17/DocumentLayout.backup.json
/DKKDApp/.vs/DKKDApp/v17/DocumentLayout.json
